p, h1, h2, h3 {
  margin: 0;
}

button, input {
  border-radius: 3px;
}

button:hover {
  transform: scale(1.1);
  transition-duration: 400ms;
  cursor: pointer;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.div-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

